
/* BODY */
body {
    font-family: serif;
    font-size: 16px;
}

/*  HEAD   */

header {
    background-color: #264d73;
    border: solid 5px blue;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;

}



#logo {
    height: 15%;
    width: 15%;
    margin: 16px;
}

img {

    height: 20px;
    width: auto;
}



/*wygląd opisu zajawki*/
.head-paragraph {
    color: #ffffff;
    font-style: italic;
    float: right;
    margin: 60px 25px 20px 10px;
    line-height: 32px;
    text-align: right;

}

/* nazwa firmy*/
.company {
    font-weight: 600;
}

#track {
    background-color: darkgray;
    height: 100px
}

#changer {
    background-color: darkgray;
    height: 100px
}

#compare {
    background-color: lightgray;
    height: 100px
}
/* FOOTER*/
footer {
    clear:both;
    background-color: #003366;
    color: white;
    padding: 5px;
    font-style: italic;
    font-size: smaller;
    text-align: center;

}
div{
    float: left;
    width: 33.333%;
    text-align: center;
}