
/* BODY */
body {
    font-family: serif;
    font-size: 16px;
    background-color:  #FFFCF4;
}
#max-width {
    max-width: 1028px;
    margin: 0 auto;
}

/*  HEAD   */

header {

    background: url("../images/zajawka-bg.png") center no-repeat;
    height: 306px;
}

/*Klasa teaser dotyczy menu TODO*/
/*.teaser {*/
    /*background-color: #264d73;*/
    /*padding: 50px;*/
/*}*/

.funkcje-png {
    height: 250px;
    padding:30px;

}


#logo {
    height: 15%;
    width: auto;
    margin: 16px;
}

img {

    height: 20px;
    width: auto;
}



/*wygląd opisu zajawki*/
.head-paragraph {
    color: #ffffff;
    font-style: italic;
    float: right;
    padding: 120px 25px 0px 10px;
    line-height: 32px;
    text-align: right;

}

/* nazwa firmy*/
.company {
    font-weight: 600;
}

#track {
    background-color: darkgray;
    height: 400px
}

#changer {
    background-color: darkgray;
    height: 400px
}

#compare {
    background-color: lightgray;
    height: 400px
}
/* FOOTER*/
footer {
    clear:both;
    background-color: #003366;
    color: white;
    padding: 5px;
    font-style: italic;
    font-size: smaller;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 1028px;

}
.function_description div{
    float: left;
    height: auto;
    width: 33.333%;
    text-align: center;
}

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}