

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.clear {
    clear: both;
}

/* BODY */

body {
    font-family: serif;
    font-size: 16px;
    background: url("../images/szachownica-dolar3.png") top left repeat;
    background-attachment: fixed;
}

#max-width {
    max-width: 1023px;
    margin: 0 auto;
}

/*#max-width2 {
    max-width: 1028px;
    margin: 0 auto;
}*/

/*  HEAD   */
/*  MENU+LOGO   */
.menu {
    display: block;
    width: 1023px;
    margin: 0 auto;
    background-color: #333;
    position:fixed;
    box-shadow: 0px 2px 3px black;
    z-index: 100;
    float: left;


}



#logo-w-menu {

    height: 60px;
    width: auto;
    margin: 16px;
    margin-bottom: 10px;
    margin-left: 23px;
    margin-top: 10px;
    float: left;
    /*position: absolute;*/
    /*left: 0;*/
}

.menu1 {
    /*position: absolute;*/
    /*right: 0;*/
    /*width: 500px;*/
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    line-height: 80px;
    font-size: 20px;
}

li a:hover {
    background-color: #111;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a:hover {
    background-color: #111;

}

/*  HEAD   */
header {
 padding-top: 80px;
    background: url("../images/zajawka-bg.png") center no-repeat;
    height: 306px;
    background-position: bottom;

}


/* FUNKCJE ZAJAWKI */

.funkcje-png {
    height: 100px;
    padding: 30px;
    opacity: 0.6;
    margin-top: 30px;
    transition: transform 0.3s ease-out;

}

.funkcje-png:hover {
    transform: scale(1.1);
}

h1.main-func {
    font-family: serif;
    font-weight: 600;
    font-style: italic;
    color: #5e889e;


}

/*wygląd opisu zajawki*/
.head-paragraph {

    color: #162029;
    font-style: italic;
    font-size: 21px;
    font-weight: bold;
    float: right;
    padding: 120px 25px 0 10px;
    line-height: 32px;
    text-align: right;
    text-shadow: 1px 1px 0.5px white;

}

/* nazwa firmy*/
.company {
    font-weight: 600;
}

#track, #changer, #compare {

    height: 309px
}

/*IKONY FUNKCJI*/
.funkcjonalnosc-icons div {
    float: left;
    padding: 30px 0 30px 0;
    height: 80px;
    width: 341px;
    text-align: center;
    background-color: #333333;
    color: #5e889e;
}

img.funkcje-icon {
    height: 60px;
    width: auto;

}

.funkcje-icon:hover {
    animation: pulse2 1.5s linear infinite;
}

@-webkit-keyframes pulse2 {
    0% {
        transform: scale(1.1);
        opacity: .6;

    }
    50% {
        transform: scale(0.9);
        opacity: .2;

    }
    100% {
        transform: scale(1);
        opacity: .6;

    }
}

h1.icon-title {
    font-weight: 700;
    font-style: italic;
    margin-top: 10px;
    color: #8CCAEB;
}

/* Opis o nas*/
. #o-nas {
    background-color: #333;
    color: white;
    height: auto;
    width: 1023px;
}

.o-nas {
    width: 501px;
    float: left;
    margin: 20px 5px;
    color: black;
    opacity: 1;
    /*font-family: "Droid Sans Japanese";*/
    font-family: serif;
    color: #001038;
    line-height: 1.5;
    text-indent: 40px;
}

.fotka {
    float: left;
    margin: 20px 10px 0;
}

.o-nas-naglowki {
    font-weight: bold;
    font-size: larger;
    font-style: italic;

}

.p-o-nas {
    display: block;
    width: 320px;
    float: right;
    text-align: justify;
}

/*  INPUT EMAIL */
form {
    bottom: 50px;
    clear: both;
    display: block;
    width: 1023px;
    height: 40px;
    margin: 0 auto;
    background-color: #5E1215;
}

p.input-txt {
    font-style: italic;
    font-size: 14px;
    color: white;
    display: inline;
    float: left;
    text-align: center;
    margin: 5px 20px 0 220px;
}

input {
    margin: 0 20px 0 2px;
    background-color: lightgray;
}

input:focus {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
    background-color: white;
}

input[type="submit"] {
    border-radius: 3px;
    box-shadow: 2px 2px #333333;
    background-color: white;
    color: #001038;
    font-family: serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
}

/* FOOTER*/
footer {
    clear: both;
    background-color: #162029;
    color: white;
    padding: 5px;
    font-style: italic;
    font-size: smaller;
    text-align: center;
    bottom: 0;
    width: 1023px;
    height: 70px;
}

.footer-txt {
    margin-bottom: 1px;
    font-size: 12px;
}

.function_description div {
    float: left;
    height: auto;
    width: 341px;
    text-align: center;
    background: linear-gradient(to top, white, #F2F4F7);
}

.back-to-top {
    display: none;
    opacity: 1;
    position: fixed;
    right: 49px;
    bottom: 1%;

}

.arrow {
    width: 40px;
    height: 40px;

}

/*@media screen and (max-width: 1000px) {*/
footer, form.media {
    width: auto;
    padding: 10px;
    height: auto;
}

/*}*/
/*#max-width2 {*/
/*margin:0 auto;*/
/*display: block;*/
/*width: auto;*/
/*}*/
/*div, .funkcjonalnosc-icons, .function_description {*/
/*clear: both;*/
/*display: inline;*/
/*margin: 0 auto;*/
/*}*/

/*body {*/
/*background: #5e889e*/
/*}*/
